@(message: String)

@components.main("Remindtweets") {

<div class="container">

    <div class="row main-section">

       <!-- <div class="heading-section">-->
            <div class="col-md-8 col-md-offset-2 main-section" style="text-align: center">

            <h1>RemindTweets</h1>
            <p class="lead">Create and receive reminders using nothing but twitter
        </div>

        <div class="col-md-8 col-md-offset-2">

            <h2 class="blog-post-title">How it works</h2>

            <p class="lead">Simply sent a tweet to the handle <a href="https://twitter.com/remindtweets">@@RemindTweets</a> indicating what you want to be reminded of and when you would like to receive your reminder.
            <p class="lead"><a href="https://twitter.com/remindtweets">@@RemindTweets</a> will send you a tweet at the specified time with your reminder.
                There are a few types of tweets that can be accepted and converted into reminders:

            <pre><code>@@RemindTweets Remind me to <strong>TAKE OUT THE TRASH</strong> in <strong>4 HOURS</strong>.</code></pre>

            <pre><code>@@RemindTweets Remind me to <strong>GET MY LAUNDRY</strong> <strong>TOMRROW</strong> at <strong>6:15pm</strong>.</code></pre>

            <pre><code>@@RemindTweets Remind me to <strong>BUY GROCERIES</strong> <strong>WEDNESDAY</strong> at <strong>7:30pm</strong> <strong>EVERY WEEK</strong>.</code></pre>
        </div>

        <hr>

        <div class="col-md-8 col-md-offset-2 main-section">
            <h2>My Reminders</h2>
            <p class="lead">To see any reminders that you've scheduled, simply visit your reminders page at:

            <blockquote>
                <p>remindtweets.com/user/<strong>&lt;TwitterId&gt;</strong>/reminders</p>
            </blockquote>
        </div>
    </div>
</div>

}
