@(user: User, reminders: List[Reminder])

@import helpers._
@import TwitterApi.{ResponseList,Status}

@import org.joda.time.format.DateTimeFormat


@components.main("User") {

<div class="container">

    <h2 class="sub-header">Upcoming reminders for @user.screenName</h2>

    <div class="table-responsive span8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>What</th>
                <th>When</th>
                <th>Repeat</th>
            </tr>
            </thead>

            <tbody>

            @reminders.map { reminder =>
            <tr>
                <td>@reminder.id</td>
                <td>@reminder.what</td>
                <td>@reminder.firstTime.toString(DateTimeFormat.forPattern("MM/dd/yyyy HH:mm:ss z"))</td>
                <td>@reminder.repeat</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>


}