
@components.main("Welcome to Play") {

<div class="container">

    <div class="starter-template">
        <p class="lead">To view your reminders, enter your Twitter Screen Name</p>
    </div>

    <form class="form-signin" role="form">
        <input type="text" class="form-control" placeholder="Screen Name" required autofocus>
        <br>
        <!--
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">View Reminders</button>
    </form>

</div>

}